.form-input {
    display: flex;
    flex-direction: column;
    gap: 1px;

    &__label {
        font-size: 0.95rem;
        font-weight: 500;
        color: #333;
        margin-bottom: 2px;
    }

    .MuiFormHelperText-root {
        font-size: 0.75rem;
        color: #d32f2f;
        margin-top: 4px;
        margin-left: 2px;
        margin-bottom: 0px;
    }
}
