// main.scss
@use './abstracts/mixins';
@use './base/reset';
@use './base/base';

// component sass
@use './components/header';
@use './components/form-input';
@use './components/login-form';

.test_class {
    color: red;
}
.test_1_class {
    color: burlywood;
}
test_2_class {
    color: blue($color: #000000);
}
.change-something {
    color: red($color: #000000);
}